@import "../styles";

header {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(27, 64, 121, 1) 53%);
  color: #fff;
  position: relative;

  h1 {
    margin-bottom: 0;
  }

}

#inputWraper {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#inputWraperSecond {
  width: 80%;
  margin: 0 auto;
}

#showButtonStyle {
  position: relative;
  top: 11.6px;
  right: 25%;
  border-radius: 40px;
  background-color: $second-color;
  color: #fff;
  border: 3px solid $second-color;

  &:hover {
    background-color: #000;
    color: #fff;
    border: 3px solid #000;
  }
}
