<section>
  <div id="mainWraper">
    <header>
      <h1>Lista cytatów</h1>
      <button class="showInputButton" id="showButtonStyle" (click)="quotataionInput.showInputMethod($event)">
        + Dodaj cytat
      </button>
    </header>
    <main>
      <div id="inputWraper">
        <app-quotataion-input (newQuotation)="onNewQuotation($event)" (click)="sortList()" #quotataionInput>
        </app-quotataion-input>
        <span *ngIf="quotesAll.length === 0">
          <h1 style="opacity: 0.5">{{emptyQuotes}}</h1>
        </span>
      </div>

      <app-list-items [quotesAll]="quotesAll" (newVote)="addVote($event.quotation, $event.vote)"
        (deleteQuotes)="deleteItem($event.quotation)" (click)="sortList()" #quotationInput></app-list-items>
    </main>

    <footer>
      {{ newDate | date: 'yyyy' }} &copy; wszelkie prawa zastrzeżone
    </footer>
  </div>
</section>
